<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HARVEST HORIZON{% endblock %}</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <div class="header-branding">
            <img src="static/imgs/logo.png" alt="Company Logo" class="logo">
            <h1 class="brand">HARVEST HORIZON</h1>
        </div>

        
            <nav class="navbar">
              <button class="toggle-btn" onclick="toggleMenu()">☰</button>
              <ul class="nav-links" id="navLinks">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('vision') }}">Vision</a></li>

                <li class="dropdown">
                    <a href="#">Our Products ▼</a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('fruits') }}">Fruits</a></li>
                      <li><a href="{{ url_for('vegetables') }}">Vegetables</a></li>
                      <li><a href="{{ url_for('maps') }}">MAPs</a></li>

                    </ul>
                  </li>

                <li><a href="{{ url_for('accreditations') }}">Accreditations</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
              </ul>
            </nav>
          
          
    </header>
<div>
    <main>
            {% block content %}{% endblock %}
        </main>
</div>

    <footer>
        <p>&copy; 2025 Harvest Horizon. All rights reserved.</p>
    </footer>
<script>
  function toggleMenu() {
    document.getElementById('navLinks').classList.toggle('show');
  }

  function toggleDropdown(event) {
    event.preventDefault();  // prevent navigation
    document.getElementById('productDropdown').classList.toggle('show');
  }
</script>

      
    <script src="script.js"></script>

</body>
</html>
