{% extends "layout.html" %}
{% block title %}HARVEST HORIZON - Accreditations{% endblock %}

    {% block content %}

<div class = "textbox">
    <main>
        <section id="Accreditations">
            <h2>Our Accreditations</h2>
            <p>As a newly established startup, we currently do not hold formal accreditations. However, we are fully committed to achieving all relevant certifications and quality standards as we grow—ensuring compliance, transparency, and trust with every step forward.</p>
        </section>

    </main>
</div>
{% endblock %}

