{% extends "layout.html" %}

    {% block title %}HARVEST HORIZON - Contact Us{% endblock %}

    {% block content %}
        <main class="contact-content">
            <h2>Contact Us</h2>
          
            <p><strong>Phone:</strong> </p>
            <p><strong>Email:</strong> fouad.aziz@harvesthorizoneg.com</p>
            <p><strong>Address:</strong> 13 Africa st., Mostafa Al-Nahas, Zone 10, Nasr City, Cairo, Egypt</p>
          
            <hr class="section-divider">
          
            <h3>Send Us an Inquiry</h3>
            <form class="inquiry-form" action="https://formsubmit.co/fouad.aziz@harvesthorizoneg.com" method="POST">

              <input type="hidden" name="_captcha" value="false">
              <input type="hidden" name="_next" value="https://harvesthorizoneg.com/thank-you.html">
              <label for="name">Name:</label><br>
              <input type="text" id="name" name="name" required><br><br>
          
              <label for="email">Email:</label><br>
              <input type="email" id="email" name="email" required><br><br>
          
              <label for="message">Message:</label><br>
              <textarea id="message" name="message" rows="5" required></textarea><br><br>
          
              <button type="submit">Submit</button>
            </form>
    </main>

    {% endblock %}
