{% extends "layout.html" %}


          {% block title %}Welcome to Harvest Horizon{% endblock %}
          {% block content %}
          <div class ="textbox">
            <p>
              At <strong>Harvest Horizon</strong>, we are passionate about delivering the freshest, highest-quality fruits and vegetables to global markets. Sourced directly from the rich agricultural lands of <strong>Egypt</strong>, our produce reflects the region’s natural abundance and ideal growing conditions.
            </p>
            <p>
              Rooted in trust and driven by excellence, our mission is to connect farms to tables with efficiency, transparency, and care.
            </p>
            <p>
              As a trusted exporter, we ensure every product meets strict quality and safety standards—because your business and your customers deserve nothing less.
            </p>
            <p>
              Thank you for visiting. We invite you to explore our values, vision, and products to learn more about what sets us apart in the world of fresh produce.
            </p>
            {% endblock %}
          </div>
